body{
    background-image: linear-gradient(to bottom left, blueviolet, lightblue);
    background-repeat: no-repeat;
    height: 100vh;
    background-color: dimgray;
}
*{
    color: azure;
}

.strike{
    text-decoration: line-through;
    color: purple;
}

.row-space {
    margin-bottom: 10px;
  }

  #btnContainer{
    background-image: linear-gradient(to bottom left, lightblue, blueviolet);
    
  }

  #createList{
    background-color: rgb(218, 150, 250);
    font-size: 30px;
    border-radius: 50%;
    width: 300px;
  }