body{
    background-color: dimgray;
}
*{
    color: azure;
}

.strike{
    text-decoration: line-through;
    color: purple;
}

.row-space {
    margin-bottom: 10px;
  }

  #btnContainer{
    background-image: linear-gradient(to bottom left, blueviolet, lightblue);
  }
  #createList{
    background-color: rgb(218, 150, 250);
    font-size: 30px;
  }